@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,800|Raleway:400,700');

body {
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Raleway', 'Helvetica', Arial, sans-serif;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
}

/* HEADER + NAV */
.header {
  background: #184C54;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  font-family: 'Montserrat Alternates', 'Helvetica', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: 0.3rem;
  text-align: right;
  color: #F7FFF7;
  order: 2;
}

.header .icon {
  color: #FFE66D;
  font-size: 3rem;
  order: 1;
}

button {
  border: 0;
  padding: 0;
  background: inherit;
}

/* MAIN */
.main {
  margin: 0;
}

/* MAP + INFOWINDOW */
#map {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50;
  left: 0;
  bottom: 50;
  right: 0;
}

.iw-venue-name {
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding-bottom: 0.4rem;
}

/* SIDEBAR + VENUE LIST */
.sidebar {
  position: absolute;
  z-index: 10;
  width: 300px;
  max-width: 100%;
  padding: 1rem;
  height: calc(100% - 50px);
  overflow-y: auto;
  background: #F7FFF7;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-about {
  text-align: center;
  padding-bottom: 1rem;
}

.input {
  margin: 1rem auto;
  padding: 0 0.5rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.7rem;
  border: 1px solid #184C54;
  border-radius: 2px;
}

.venue-list {
  margin: auto;
}

.venue-card {
  background: #184C54;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  color: #F7FFF7;
}

.venue-card:first-child {
  margin-top: 1rem;
}

.vc-name {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.vc-name a {
  color: #FFE66D;
  text-decoration: underline;
}

.vc-name a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #4ECDC4;
}

.vc-category {
  font-style: italic;
  padding-bottom: 0.7rem;
}

.vc-image-container {
  width: 268px;
}

.vc-image {
  width: 100%;
  height: auto;
}

.vc-address {
  margin: 0.5rem 0;
}

.footer {
  position: fixed;
  z-index: 100;
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #184C54;
  color: #F7FFF7;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-left {
  order: 1;
}

.footer .footer-right {
  order: 2;
  text-align:right;
}

.footer a {
  color: #4ECDC4;
  cursor: pointer;
  text-decoration: none;
}

.footer a:hover {
  color: #F7FFF7;
  text-decoration: underline;
}

.hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.box-shadow {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.14), 
              4px 4px 12px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 600px) {
  .header .title {
    font-size: 1.3rem;
  }

  .footer {
    flex-direction: row;
    justify-content: center;
  }

  .footer .footer-left {
    order: 2;
    text-align: center;
  }

  .footer .footer-right {
    order: 1;
    text-align: center;
    padding-bottom: 1rem;
  }
}
