.App {
  font-family: 'Helevetica', Arial, sans-serif;
  font-size: 2rem;
}

.header {
  height: 100px;
  width: 100vw;
  background: #1A535C;
  color: #F7FFF7;
}

#map {
  height: calc(100vh - 100px);
  width: 100vw;
}