html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Helevetica', Arial, sans-serif;
  font-size: 1rem;
}

.header {
  height: 100px;
  width: 100%;
  background: #1A535C;
  color: #F7FFF7;
  margin: 0;
  padding: 1rem;
}

.title {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: right;
}

.main {
  margin: 0;
}

#map {
  height: 100vh;
  width: 100vw;
}

.hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.iw-venue-details-content {}

.iw-venue-name {}

.iw-venue-address {}

.iw-venue-details-body {}

.nav {}

.header {}

.sidebar {}

.venue-card {}

.vc-name {}

.vc-address {}

.vc-details-body {}